<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Persistence Laboratory</title>
    <% include partials/head %>
  </head>
  <body>

    <!-- HEADER -->
    <% include partials/navigation %>

    <!-- MAIN CONTENT -->

        <main>
            <div class="signin">
                <div class="list">
                    <p> </p><p> </p><p> </p>
                    <h2 class="title-manage">Manage Physicians</h2>
                    <form action="/add-physician">
                        <button type="submit" class="btn">Add Physician<span id="add" class="material-icons-outlined">person_add_alt_1</span></button>
                    </form>
                    <form action="#">
                        <button type="submit" class="btn">Edit Physician<span id="add" class="material-icons-outlined">manage_accounts</span></button>                     
                    </form>
                    <form action="#">
                        <button type="submit" class="btn">Delete Physician<span id="add" class="material-icons-outlined">person_remove_alt_1</span></button>
                    </form>
                    <form action="#">
                        <button type="submit" class="btn">View Physicians List<span id="add" class="material-icons-outlined">people_alt</span></button>
                        <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
                    </form>        
                </div>
            </div>
        </main>
    </body>

    <!-- section one -->

    <!-- FOOTER -->
    <% include partials/footer %>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  
</html>