<footer class="footer" id="footer">
  <div class="footer-left">
      <img src="img/footer-logo.png" alt="">
      <p class="description">Priority Medical & Research Center is a nonprofit organization committed to clinical practice, education and research, providing expert, whole-person care to everyone who needs healing.</p>
      <div class="socials">
          <p id="follow">Follow Priority</p>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
  </div>
  <ul class="footer-right">
      <li>
          <h2 class="footer-title">For Professionals</h2>
          <ul class="box">
              <li><a href="#">Find a doctor</a></li>
              <li><a href="#">Clinical Updates</a></li>
              <li><a href="#">Online Referrals</a></li>
              <li><a href="#">Provider Relations</a></li>
              <li><a href="#">View clinical trials</a></li>
          </ul>
      </li>
      <li class="features">
          <h2 class="footer-title">For Researchers</h2>
          <ul class="box">
              <li><a href="#">Laboratories</a></li>
              <li><a href="#">Core Facilities</a></li>
              <li><a href="#">Clinical Trials</a></li>
              <li><a href="#">Research Faculty</a></li>
              <li><a href="#">Postdotoral Fellowships</a></li>
              <li><a href="#">Departments & Divisions</a></li>
          </ul>
      </li>
      <li>
          <h2 class="footer-title">Address</h2>
          <ul class="box">
              <li><a href="#">333 First St. SW</a></li>
              <li><a href="#">Mirvik, VM 1409</a></li>
              <li><a href="#">Vikosit, OS</a></li>
          </ul>
      </li>
  </ul>

  <div class="footer-bottom">
      <p>All rights reserved by &copy;Priority 2021</p>
  </div>
</footer>