@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,*:before,*:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
} 

body,
input {
    font-family: "Poppins", sans-serif;
    display: grid;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
    background-color: #e7e7e7;
}

main{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}
  
.signin {
    width: calc(210px + 10%);
    left: calc(50% - 105px - 5%);
    margin-top: 42vh;
    min-height: 100%;
    max-width: 100%;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 33px;
    max-width: 100%;
    background-color: #cacaca;
}

.description {
    width: 110%;
    font-size: calc(13px + 0.22vw);
}

#follow {
    font-weight: 600;
    color: #000000;
    font-size: calc(14px + 0.22vw);
}

.footer > * {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img {
    width: calc(200px + 10%);
}

.footer-title {
    font-weight: 600;
    font-size: calc(14px + 0.22vw);
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
    font-size: calc(12px + 0.22vw);
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 0.7em;
}

.footer-bottom {
    text-align: center;
    color: #3d3d3d;
    padding-top: 50px;
    font-size: calc(12px + 0.22vw);
}

.footer-left p {
    padding-right: 20%;
    color: #3d3d3d;
}

.box a {
    color: #3d3d3d;
}

.socials {
    margin-top: 25px;
}

.socials a {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    font-size: 1rem;
}

.socials a i {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s; 
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.title {
    font-size: calc(15px + 0.25vw);
    color: #444;
    margin-bottom: 10px;
}

.recover {
    font-size: calc(11px + 0.25vw);
    color: #2962ff;
    margin-top: calc(10px + 1%);
    font-weight: 500;
    align-self: flex-start;
}

.recover:hover {
    color: #2962ff;
    text-decoration: underline;
    cursor: pointer;
}
  
.input-field {
    max-width: 4000px;
    width: 100%;
    background-color: #e7e7e7;
    margin: 7px 0;
    height: 45px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% 70% 15% 15%;
    position: relative;
    border: 1px solid #afafaf;
}

.input-field:focus-within{
    border: 2px solid #2962ff;
}

#input-mail {
    max-width: 400px;
    width: 100%;
    background-color: #e7e7e7;
    margin: 7px 0;
    height: 45px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 15% 85%;
    position: relative;
    border: 1px solid #afafaf;
}

#input-mail:focus-within{
    border: 2px solid #2962ff;
}

#hide {
    text-align: center;
    line-height: 45px;
    color: #afafaf;
    transition: 0.4s;
    font-size: 19px;
    display: none;
}

#hide:hover {
    cursor: pointer;
    color: #707070;
}

#show {
    text-align: center;
    line-height: 45px;
    color: #afafaf;;
    transition: 0.4s;
    font-size: 19px;
}

#show:hover {
    cursor: pointer;
    color: #707070;
}

#user {
    text-align: center;
    line-height: 45px;
    color: #868686;
    font-size: 1.4rem;
}

#lock {
    text-align: center;
    line-height: 45px;
    color: #868686;
    transition: 0.4s;
    font-size: 1.3rem;
}
  
.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    color: #333;
    font-size: calc(12px + 0.25vw);
}
 
.input-field input::placeholder {
    color: #868686;
    font-weight: 500;

}
  
.btn {
    width: 100%;
    max-width: 400px;
    background-color: #2962ff;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    font-size: calc(12px + 0.25vw);
}
  
.btn:hover {
    background-color: #0039cb;
}
  
@media screen and (min-width: 768px) {
    main{
        min-height: 100%;
    }

    .signin {
        min-height: 100%;
    }
    .footer-right > * {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width: 1920px) {
    .signin {
        min-height: 100%;
        margin-top: 48vh;
    }
}

@media (max-width: 1024px) {
    .signin {
        min-height: 100%;
        margin-top: 56vh;
    }
}

@media (max-width: 768px) {
    main{
        min-height: 100%;
    }

    .signin {
        min-height: 100%;
        margin-top: 57vh;
    }

    .footer {
        padding: 15px;
    }

    .footer-left img {
        width: 280px;
    }
}

@media (max-width: 280px) {
    main{
        min-height: 100%;
    }

    .signin {
        min-height: 100%;
        margin-top: 35vh;
    }

    .footer {
        padding: 15px;
    }

    .footer-left img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width:1024px)
              and (min-height: 1366px) and (max-height: 1366px) {
                footer {
                    position: relative;
                    margin-top: 50px;
                }
                .signin {
                    min-height: 100%;
                    margin-top: 62vh;
                }
}

@media screen and (min-width: 375px) and (max-width:375px)
              and (min-height: 667px) and (max-height: 667px) {
                .signin {
                    margin-top: 37vh;
                }
}

@media screen and (min-width: 360px) and (max-width:360px)
              and (min-height: 640px) and (max-height: 640px) {
                .signin {
                    margin-top: 34vh;
                }
}

@media screen and (min-width: 320px) and (max-width:320px)
              and (min-height: 568px) and (max-height: 568px) {
                .signin {
                    margin-top: 27vh;
                }
}

@media screen and (min-width: 280px) and (max-width:280px)
              and (min-height: 653px) and (max-height: 653px) {
                .signin {
                    margin-top: 37vh;
                }
}

@media screen and (min-width: 540px) and (max-width:540px)
              and (min-height: 720px) and (max-height: 720px) {
                .signin {
                    margin-top: 40vh;
                }
}

@media screen and (min-width: 768px) and (max-width:768px)
              and (min-height: 1024px) and (max-height: 1024px) {
                .signin {
                    margin-top: 56vh;
                }
}



